<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>API Console</title>

<link rel="stylesheet" href="api-console.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>

<script src="lib/angular/1.4.8/angular.js"></script>
<script src="lib/angular/1.4.8/angular-cookies.min.js"></script>
<script src="lib/angular/1.4.8/angular-sanitize.min.js"></script>
<script src="api-console.js"></script>
<script src="account.js"></script>

<link href='lib/swagger-ui/css/screen.css' media='screen' rel='stylesheet' type='text/css'/>
<script src='lib/swagger-ui/lib/jquery-1.8.0.min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/jquery.slideto.min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/jquery.wiggle.min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/jquery.ba-bbq.min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/handlebars-2.0.0.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/underscore-min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/backbone-min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/swagger-ui.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/highlight.7.3.pack.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/jsoneditor.min.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/marked.js' type='text/javascript'></script>
<script src='lib/swagger-ui/lib/swagger-oauth.js' type='text/javascript'></script>
<script src='lib/github/github.bundle.min.js' type='text/javascript'></script>

  <!-- Some basic translations -->
  <!-- <script src='lang/translator.js' type='text/javascript'></script> -->
  <!-- <script src='lang/ru.js' type='text/javascript'></script> -->
  <!-- <script src='lang/en.js' type='text/javascript'></script> -->

  <script type="text/javascript">

    $(function () {
      var swaggerUrl = window.location.search.match(/swaggerUrl=([^&]+)/);
      if (swaggerUrl && swaggerUrl.length > 1) {
        swaggerUrl = decodeURIComponent(swaggerUrl[1]);

        //set the swagger url in the controller
        var controllerScope = angular.element($("#ApiConsoleCtrl")).scope(); 
        controllerScope.setSwaggerUrl(swaggerUrl);

        //also initialize the swagger-ui with the swagger url
        window.swaggerUi = new SwaggerUi({
          url: swaggerUrl,
          dom_id: "swagger-ui-container",
          docExpansion: "list"
        })

        window.swaggerUi.load();

      } 

    }); 
  </script>
</head>

<body id="ApiConsoleCtrl" class="swagger-section" ng-app="ApiConsole" ng-controller="ApiConsoleCtrl">

  <table height="100%" width="100%">
  <tr><td width="100%" height="10">

    <div ng-include="'header.html'"></div>

    <div class="container" ng-cloak>
      <ul class="nav nav-tabs" ng-show="canWriteSwagger">
        <li role="presentation" ng-class="{active: tab == 'api'}"><a href="#" ng-click="tab = 'api'">API</a></li>
        <li role="presentation" ng-class="{active: tab == 'edit'}"><a href="#" ng-click="tab = 'edit'">Edit</a></li>
      </ul>
      <br/>
    </div>

  </td></tr>
  <tr><td valign="top" height="90%">

    <div class="container" ng-cloak>
      <div id="swagger-ui-container" class="swagger-ui-wrap" ng-show="tab == 'api'" ng-cloak></div>
    </div>
    <div id="swagger-editor-container" ng-show="tab == 'edit' && isEditorVisible()" ng-cloak  style="height: 100%; border-bottom: 1px solid #666666;">

      <table height="100%" width="100%">
      <tr height="10">
      <td>
        <div class="container">        
          <button class="pull-right" ng-click="saveEditorContentsToGithub()">Save</button>
        </div>
        <br/>
      </td>
      </tr>
      <tr>
      <td>      
        <iframe id="swagger-editor-iframe" style="border:none;position:relative;width:100%;height:100%;display:block;" height="100%" src="/swagger-editor"></iframe>
      </td>
      </tr>
      </table>
    </div>

  </td></tr>
  <tr><td>
    <div ng-include="'footer.html'"></div>
  </td></tr>
  </table>
  
</body>
</html>
