<!DOCTYPE html>
<html>
<head>
<title>API List</title>
<link rel="stylesheet" href="api-list.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>

<script src="lib/jquery/1.11.3/jquery-1.11.3.min.js"></script>
<script src="lib/angular/1.4.8/angular.js"></script>
<script src="lib/angular/1.4.8/angular-cookies.min.js"></script>
<script src="lib/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="api-list.js"></script>
<script src="account.js"></script>
<script src="lib/spin/spin.min.js"></script>
<script src="lib/angular-spinner/angular-spinner.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
</head>

<body ng-app="ApiList" ng-controller="ApiCtrl">
<div ng-include="'header.html'"></div>

<div class="container">
    <h1>API List</h1>
    <div class="resource-list row">

        <div class="col-lg-12">
                <form>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="query_search">Search for keywords</label>
                            <input type="text" placeholder="Search for keywords" class="form-control" id="query_search" ng-model="query" />
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span ng-show="predicateTitle == ''">Sort by</span><span class="source-name" ng-bind="predicateTitle"></span> <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="predicate = 'title'; predicateTitle = 'Title A-Z'">Title A-Z</a></li>
                                <li><a href="" ng-click="predicate = '-title'; predicateTitle = 'Title Z-A'">Title Z-A</a></li>
                              </ul>
                            </div>
                            <input type="reset" class="btn btn-default" value="Reset" ng-click="selectedSource = ''; selectedSourceTitle = ''; query = ''; predicate = predicateOrder; predicateTitle = '';" />
                        </div>
                        <div class="clearfix">
                            <ng-pluralize class="pull-left" ng-show="filtered.length > 0" count="filtered.length"
                                          when="{'0': '',
                                                 '1': '1 result',
                                                 'other': '{}{{lastReached?&quot;&quot;:&quot;&quot;}} results'}">
                            </ng-pluralize>
                            <div ng-show="false" class="pull-right">{{ loadedSources.length }} / {{ sources.length }} sources loaded</div>
                        </div>
                    </div>
                </form>
            </div>
        
        <div class="col-md-12">
            <ul class="resource-list list-unstyled table-bordered">
                <span us-spinner="{radius:30, width:6, length: 18}" spinner-key="spinner-apis" spinner-start-active="true"></span>

                <li class="resource" ng-repeat="api in filtered = (apis | filter:query | orderBy:predicate)">
                  <div>
                    <div class="row">
                        <div class="col-md-9 col-lg-10">
                            <!-- Do we have a logo image to display?  If so, uncomment below -->
                            <!--img ng-show="api.logo" ng-src="{{api.logo}}" alt="{{api.title}}" class="img-responsive program_logo" /-->
                            <h3 ng-bind-html="api.title"></h3>
                            <br>
                        </div>
                        <div class="col-md-3 col-lg-2" ng-show="{{api.url != null}}">
                            <a href="api-console.html?swaggerUrl={{api.url}}" class="btn btn-primary btn-block" ng-bind-html="'View'"></a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-9 col-lg-10">
                            <p ng-bind-html="api.notes"></p>
                            <!-- Do we have tags to display?  If so, uncomment below -->
                            <!--div class="tags" ng-if="api.tags.length > 0">
                                <span class="label label-default" ng-repeat="tag in apis.tags" style="background-color: #{{ tag.id|limitTo:6 }};"  ng-bind-html="tag.display_name">
                                </span>
                            </div-->
                        </div>
                    </div>
                  </div>
                </li>
                <li ng-if="apis.length == 0 && apissLoaded" class="empty">
                    <div class="col-md-12">
                        No APIs.
                    </div>
                </li>
                <li ng-show="filtered.length == 0 && apisLoaded && query" class="empty">
                    <div class="col-md-12">
                        No results for "{{ query }}".
                    </div>
                </li>
                <li ng-repeat="alert in apis.alerts" class="empty">
                    <div class="col-md-12">
                        * {{alert}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'footer.html'"></div>

</body>
</html>